# assets und Bilder
assets/comic_hires/*.jpg
assets/comic_hires/*.png
assets/comic_hires/*gif
assets/comic_hires/*.webp
!assets/comic_hires/in_translation.*
!assets/comic_hires/index.php
!assets/comic_hires/.htaccess

assets/comic_lowres/*.jpg
assets/comic_lowres/*.png
assets/comic_lowres/*gif
assets/comic_lowres/*.webp
!assets/comic_lowres/in_translation.*
!assets/comic_lowres/index.php
!assets/comic_lowres/.htaccess

assets/comic_socialmedia/*.jpg
assets/comic_socialmedia/*.png
assets/comic_socialmedia/*gif
assets/comic_socialmedia/*.webp
!assets/comic_socialmedia/index.php
!assets/comic_socialmedia/.htaccess

assets/comic_thumbnails/*.jpg
assets/comic_thumbnails/*.png
assets/comic_thumbnails/*gif
assets/comic_thumbnails/*.webp
!assets/comic_thumbnails/placeholder.*
!assets/comic_thumbnails/in_translation.*
!assets/comic_thumbnails/index.php
!assets/comic_thumbnails/.htaccess

assets/img/github/twokinds.4lima.de.psd
assets/img/about/*

# Nicht verwendete Icons
assets/icons/nicht verwendet/*

# Comic-Ordner
comic/*
!comic/20170728.php
!comic/20250312.php
!comic/20250604.php
!comic/index.php

# Zip-Archive
*.zip

# Googles
google5c760f191f071105.html
src/layout/js_backup/gtag.js
_debug/*
src/config/*
src/config/comic_var.json
src/config/archive_chapters.json

#Notizen
_links/*