# assets und Bilder
assets/comic_hires/*.jpg
assets/comic_hires/*.png
assets/comic_hires/*gif
assets/comic_hires/*.webp
!assets/comic_hires/in_translation.*
!assets/comic_hires/index.php
!assets/comic_hires/.htaccess

assets/comic_lowres/*.jpg
assets/comic_lowres/*.png
assets/comic_lowres/*gif
assets/comic_lowres/*.webp
!assets/comic_lowres/in_translation.*
!assets/comic_lowres/index.php
!assets/comic_lowres/.htaccess

assets/comic_lowres_png/*

assets/comic_socialmedia/*.jpg
assets/comic_socialmedia/*.png
assets/comic_socialmedia/*gif
assets/comic_socialmedia/*.webp
!assets/comic_socialmedia/index.php
!assets/comic_socialmedia/.htaccess

assets/comic_thumbnails/*.jpg
assets/comic_thumbnails/*.png
assets/comic_thumbnails/*gif
assets/comic_thumbnails/*.webp
!assets/comic_thumbnails/placeholder.*
!assets/comic_thumbnails/in_translation.*
!assets/comic_thumbnails/index.php
!assets/comic_thumbnails/.htaccess

assets/img/github/twokinds.4lima.de.psd
assets/img/about/*

# Fehlerseiten
!assets/comic_lowres/404.*
!assets/comic_hires/404.*
!assets/comic_lowres/403.*
!assets/comic_hires/403.*

# Nicht verwendete Icons
assets/icons/nicht verwendet/*

# Comic-Ordner
comic/*
!comic/20170728.php
!comic/20250312.php
!comic/20250604.php
!comic/index.php

# Zip-Archive
*.zip

# Googles
google5c760f191f071105.html
src/layout/js_backup/gtag.js
_debug/*
src/config/archive_chapters.json
src/config/comic_var.json
src/config/rss_config.json
src/config/sitemap.json
src/config/version.json

# git update-index --assume-unchanged src/config/comic_var.json
# git update-index --assume-unchanged src/config/archive_chapters.json
# wieder aktivieren:
# git update-index --no-assume-unchanged src/config/comic_var.json
# git update-index --no-assume-unchanged src/config/archive_chapters.json

#Notizen
_links/*
# FTP Verzeichnisse
sync.ffs_db
# Charaktere Bilder
assets/img/charaktere/characters/themaskedgods.png
assets/img/charaktere/characters/TheMaskedGods2025-2.png
assets/img/charaktere/characters/TheMaskedGods2025.png
assets/img/charaktere/characters_webp/templarchart-Original.png
assets/img/charaktere/characters_webp/TheMaskedGods2025-Original.webp

# CSS minified Tool
node_modules/*
package-lock.json
package.json

# JavaScript minified Tool und SASS
# Install: npm install -g sass
# Install: npm install clean-css


# SASS Compiler für CSS (Wird verwenden um die CSS Dateien aus SCSS zu erstellen)
# Befehl: cd src\layout\css
# Befehl: sass --no-source-map main.scss main.css && npx clean-css-cli --source-map -o main.min.css main.css
# Befehl: sass --no-source-map main_dark.scss main_dark.css && npx clean-css-cli --source-map -o main_dark.min.css main_dark.css
# Befehl: sass --no-source-map cookie_banner.scss cookie_banner.css && npx clean-css-cli --source-map -o cookie_banner.min.css cookie_banner.css
# Befehl: sass --no-source-map cookie_banner_dark.scss cookie_banner_dark.css && npx clean-css-cli --source-map -o cookie_banner_dark.min.css cookie_banner_dark.css
# Befehl: cd ../
# Befehl: cd js
# Befehl: npx terser archive.js --source-map "filename=archive.min.js.map" --output archive.min.js
# Befehl: npx terser charaktere.js --source-map "filename=charaktere.min.js.map" --output charaktere.min.js
# Befehl: npx terser comic.js --source-map "filename=comic.min.js.map" --output comic.min.js
# Befehl: npx terser common.js --source-map "filename=common.min.js.map" --output common.min.js
# Befehl: npx terser cookie_consent.js --source-map "filename=cookie_consent.min.js.map" --output cookie_consent.min.js
# Befehl: cd ../../../


# Alternative Befehle (einzeln ausgeführten Befehle, falls Probleme auftreten)
# SASS Compiler für CSS (Wird verwenden um die CSS Dateien aus SCSS zu erstellen)
# Befehl: cd src\layout\css
# Befehl: sass --no-source-map main.scss main.css
# Befehl: sass --no-source-map main_dark.scss main_dark.css
# Befehl: sass --no-source-map cookie_banner.scss cookie_banner.css
# Befehl: sass --no-source-map cookie_banner_dark.scss cookie_banner_dark.css

# CSS Minifier (Erstellt die minified CSS Dateien mit Source Maps)
# Befehl: cd src\layout\css
# Befehl: npx clean-css-cli --source-map -o main.min.css main.css
# Befehl: npx clean-css-cli --source-map -o main_dark.min.css main_dark.css
# Befehl: npx clean-css-cli --source-map -o cookie_banner.min.css cookie_banner.css
# Befehl: npx clean-css-cli --source-map -o cookie_banner_dark.min.css cookie_banner_dark.css
# Befehl: cd ../
# Befehl: cd js
# Befehl: npx terser archive.js --source-map "filename=archive.min.js.map" --output archive.min.js
# Befehl: npx terser charaktere.js --source-map "filename=charaktere.min.js.map" --output charaktere.min.js
# Befehl: npx terser comic.js --source-map "filename=comic.min.js.map" --output comic.min.js
# Befehl: npx terser common.js --source-map "filename=common.min.js.map" --output common.min.js
# Befehl: npx terser cookie_consent.js --source-map "filename=cookie_consent.min.js.map" --output cookie_consent.min.js
# Befehl: cd ../../../