<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>
		Characters - Twokinds - 21 Years on the Net!
	</title>
	<meta charset="utf-8">
	<meta name="description" content="A webcomic about a clueless hero, a mischievous tigress, an angsty warrior, and a gender-confused wolf.">
	<link rel="canonical" href="https://twokinds.keenspot.com/characters/">
	<!-- Facebook Open Graph and Twitter Card tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@twokinds">
	<meta name="twitter:title" content="Characters - Twokinds">
	<meta name="twitter:description" content="A webcomic about a clueless hero, a mischievous tigress, an angsty warrior, and a gender-confused wolf.">
	<meta name="twitter:image" content="">
	<meta property="og:title" content="Characters - Twokinds">
	<meta property="og:description" content="A webcomic about a clueless hero, a mischievous tigress, an angsty warrior, and a gender-confused wolf.">
	<meta property="og:image" content="">
	<meta property="og:type" content="article">
	<meta property="og:url" content="https://twokinds.keenspot.com/characters/">
	<meta property="fb:app_id" content="1100321190095527">
	<meta name="viewport" content="width=1099">
	<link rel="stylesheet" type="text/css" href="https://cdn.twokinds.keenspot.com/css/main.css?c=20250524">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
	<link rel="icon" type="image/x-icon" href="https://cdn.twokinds.keenspot.com/favicon.ico">
	<link rel="shortcut icon" type="image/x-icon" href="https://cdn.twokinds.keenspot.com/favicon.ico">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="https://cdn.twokinds.keenspot.com/appleicon.png">
	<link rel="stylesheet" type="text/css" href="https://cdn.twokinds.keenspot.com/css/main_dark.css?c=20250524">
	<script type='text/javascript' src='https://cdn.twokinds.keenspot.com/js/common.js?c=20201116'></script>
	<!-- Keenspot Tracking Code -->
<script type="text/javascript">
	//<![CDATA[
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-1156969-34']);
		_gaq.push(['_trackPageview']);
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	// ]]>
</script>
<!-- Quantcast Tag, part 1 -->
<script type="text/javascript">
	//<![CDATA[
	var _qevents = _qevents || [];
	(function() {
	var elem = document.createElement('script');
	elem.src = (document.location.protocol == "https:" ? "https://secure"
	: "http://edge") + ".quantserve.com/quant.js";
	elem.async = true;
	elem.type = "text/javascript";
	var scpt = document.getElementsByTagName('script')[0];
	scpt.parentNode.insertBefore(elem, scpt);
	})();
	// ]]>
</script>
<!-- End Keenspot Tracking Code -->
<!-- Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q12STGTWR1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());
	gtag('config', 'G-Q12STGTWR1');
</script>
<!-- End analytics -->
<!-- Venatus Ad Manager - Install in <HEAD> of page -->
<script src="https://hb.vntsm.com/v3/live/ad-manager.min.js" type="text/javascript" data-site-id="61851613935f492ab9f0a999" data-mode="scan" async></script>
<!-- / Venatus Ad Manager -->
</head>
<body class="preload">
	<div id="mainContainer" class="main-container">
		<!-- Advertising scripts -->
		<div class="advertisement ad-top">
			<!-- Twokinds.keenspot - 728x90 Dynamic (618556b7935f492ab9f0a9b9) - 728x90, 970x90 - Place in <BODY> of page where ad should appear -->
			<div class="vm-placement" data-id="618556b7935f492ab9f0a9b9"></div>
			<!-- / Twokinds.keenspot - 728x90 Dynamic (618556b7935f492ab9f0a9b9) -->
			<script type='text/javascript'>
				<!--
				var alead=new Image();alead.src="//forums.keenspot.com/wonline.php?&type=leaderboard&out=twokinds";
				-->
			</script>
			<noscript>
				<img src="//forums.keenspot.com/wonline.php?&type=leaderboard&out=drop_twokinds" style="width:1px;height:1px;border:0px;" alt='' />
			</noscript>
		</div>
		<!-- End advertising scripts -->
		<div id="banner-lights-off" class="banner-lights-off"></div>
		<div id="banner" class="banner">Twokinds</div>
		<div id="content-area" class="content-area">
			<div id="sidebar" class="sidebar">
	<div class="sidebar-content">
		<div class="social">
			<a href="https://www.patreon.com/twokinds" class="social-link patreon" target="_blank" title="Patreon">Patreon</a>
			<a href="https://bsky.app/profile/twokinds.bsky.social" class="social-link bluesky" target="_blank" title="Bluesky">Bluesky</a>
			<a href="https://www.facebook.com/twokinds" class="social-link facebook" target="_blank" title="Facebook">Facebook</a>
		</div>
		<nav id="menu" class="menu">
			<a href="/">Comic</a>
			<a href="/about/">About</a>
			<a href="/archive/">Archive</a>
			<a href="/characters/">Characters</a>
			<a href="https://www.deviantart.com/twokinds" target="_blank">DeviantArt</a>
			<a href="https://twokinds.gallery/" class="menu-new" target="_blank">Fan Gallery</a>
			<a href="/fanart/">Fanart</a>
			<a href="https://twokinds.net/forum/" target="_blank">Forums</a>
			<a href="/chat/">Chat</a>
			<a href="/links/">Links</a>
			<a href="https://keenspotshop.com/collections/twokinds" target="_blank">Store</a>
			<a id="toggle_lights" class="theme jsdep" href=""><span class="themelabel">Theme</span><span class="themename">Default</span></a>
		</nav>
		<div class="incentive">
			<div class="tinytext">Top Web Comics Voting Incentive</div>
			<a href="https://www.topwebcomics.com/vote/138/default.aspx" target="_blank">
				<img src="https://cdn.twokinds.keenspot.com/incentive/681e7e79e05af.png" alt="Vote on TopWebComics!" title="">
			</a>
		</div>
		<div class="incentive">
			<div class="tinytext">Sketch of the Day</div>
			<a href="https://www.patreon.com/posts/134499803" target="_blank">
				<img src="https://cdn.twokinds.keenspot.com/dailysketch/687bf87e651f7.png" alt="New Art and Sketches (almost) Daily!" title="">
			</a>
		</div>
		<div class="abg-sidebar">
			<div class="advertisement">
				<!-- Twokinds.keenspot - 160x600 Static (618556c8935f492ab9f0a9bb) - 160x600 - Place in <BODY> of page where ad should appear -->
				<div class="vm-placement" data-id="618556c8935f492ab9f0a9bb"></div>
				<!-- / Twokinds.keenspot - 160x600 Static (618556c8935f492ab9f0a9bb) -->
				<script type='text/javascript'>
					<!--
					var asky=new Image();
					asky.src="//forums.keenspot.com/wonline.php?&type=w_sky&out=twokinds";
					-->
				</script>
				<noscript>
					<img src="//forums.keenspot.com/wonline.php?&type=w_sky&out=drop_twokinds" style="width:1px;height:1px;border:0px;" alt='' />
				</noscript>
			</div>
		</div>
	</div>
</div>
			<main id="content" class="content">

<article>
	<header hidden>
		<h1 class="page-header">Characters</h1>
	</header>
	<section>
	<div class="char-head">
		<a href="#trace"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_trace.gif" alt="Trace"></a>
		<a href="#flora"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_flora.gif" alt="Flora"></a>
		<a href="#keith"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_keith.gif" alt="Keith"></a>
		<a href="#natani"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_natani.gif" alt="Natani"></a>
		<a href="#zen"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_zen.gif" alt="Zen"></a>
		<a href="#sythe"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_sythe.gif" alt="Sythe"></a>
		<a href="#mrsnibbly"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_nibbly.gif" alt="Nibbly the Great and Powerful"></a>
		<a href="#raine"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_raine.gif" alt="Raine"></a>
		<a href="#laura"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_laura.gif" alt="Laura"></a>
		<a href="#saria"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_saria.gif" alt="Saria"></a>
		<a href="#eric"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_eric.gif" alt="Eric"></a>
		<a href="#kathrin"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_kathrin.gif" alt="Kathrin"></a>
		<a href="#mike"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_mike.gif" alt="Mike"></a>
		<a href="#evals"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_evals.gif" alt="Evals"></a>
		<a href="#maren"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_maren.gif" alt="Maren"></a>
		<a href="#karen"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_karen.gif" alt="Karen"></a>
		<a href="#red"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_red.gif" alt="Red-haired guy"></a>
		<a href="#alaric"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_alaric.gif" alt="Alaric"></a>
		<a href="#nora"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_nora.gif" alt="Nora"></a>
		<a href="#reni"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_reni.gif" alt="Reni"></a>
		<a href="#adira"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_adira.gif" alt="Adira"></a>
		<a href="#maeve"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_maeve.gif" alt="Maeve"></a>
		<a href="#mask"><img src="https://cdn.twokinds.keenspot.com/img/faces/icon_mask.gif" alt="Mask"></a>
	</div>
	<header>
		<h2 class="page-header">Major Characters</h2>
	</header>

	<section class="char-detail" id="trace">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Trace2025.png" class="portrait" alt="Trace"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/TraceSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Trace Legacy</h3>
			<p>
				<b>Gender:</b> Male<br>
				<b>Age:</b> 24<br>
				<b>Class:</b> Grand Templar Mage<br>
				<b>Species:</b> Human<br>
				<b>Languages:</b> Human<br>
			</p>
			<p><b>Personality:</b> Trace is usually friendly, shy, and a little naive. However, his personality changes drastically whenever he recalls past memories.</p>
			<p>Trace was born into a poor family of farmers, but his talents in magic were quickly recognized and at a young age he was recruited into the Templar. He rose through the ranks and eventually took over the organization as Grand Templar following the death of his first wife. He quickly became known as a tyrant, feared by Humans and Keidran alike. His incredible power allowed him to dominate all those who opposed him.</p>
			<p>However, his memories were stolen from him, along with his deep-seeded hatred for Keidran. He now travels alongside Flora, a Keidran he befriended in ignorance to the ways he once thought of them. However, his memories are slowly returning, and with them a knowledge of a past he'd rather have remain forgotten.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="flora">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Flora2025.png" class="portrait" alt="Flora"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/FloraSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Flora of the Rainforest Tiger Tribe</h3>
			<p>
				<b>Gender:</b> Female<br>
				<b>Age:</b> ~11 (26 equivalent)<br>
				<b>Class:</b> Ex-slave<br>
				<b>Species:</b> Tiger Keidran<br>
				<b>Languages:</b> Keidran, Human<br>
			</p>

			<p><b>Personality:</b> Flora is outgoing and strong-willed, but also a romantic. Since childhood her dreams have been of finding a "true love."</p>
			<p>Flora was born in the southern rainforests of her tribe. However, at the age of three her home was attacked by slave traders. Her parents were killed and she was sold into slavery. Flora was lucky enough to be reluctantly purchased by a friendly human family, who chose to make her an indentured servant to pay off the debt. She has no memory of the day her tribe was attacked.</p>
			<p>Flora was eventually release from her servitude early and allowed to return to her people. Due of her knowledge of human nature and language, she was chosen to be a representative of the Tiger Clan and a marriage was arranged between her and a prince of the Wolf Clan. The arrangement fell through, though, when her caravan was attacked. She was saved from the human attackers by Trace, who had just recently lost his memories.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="keith">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Keith2025.png" class="portrait" alt="Keith"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/KeithSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Keith Keiser</h3>
			<p>
				<b>Gender:</b> Male<br>
				<b>Age:</b> 19<br>
				<b>Class:</b> Banished Warrior<br>
				<b>Species:</b> Eastern Basitin<br>
				<b>Languages:</b> Keidran, Human, Basitin<br>
			</p>
			<p><b>Personality:</b> Keith acts serious or indifferent most of the time. However, deep down he's really caring and protective.</p>
			<p>Keith was born on the Basidian Islands, a large landmass located near the mainland. His father was a General of the military. His mother was a soldier, just like all Basitins, but she sheltered him from military life for much of his childhood. Like all Basitins, he did eventually join the military at 8 years of age, late for most Basitins. Keith was blamed for his parents death at the age of 13 and banished from the islands. He was ordered not to return until he brought back the Grand Templar.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="natani">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Natani2025.png" class="portrait" alt="Natani"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/NataniSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Natani</h3>
			<p>
				<b>Gender:</b> Male<br>
				<b>Age:</b> ~13 (32 equivalent)<br>
				<b>Class:</b> Assassin<br>
				<b>Species:</b> Wolf Keidran<br>
				<b>Languages:</b> Keidran<br>
			</p>
			<p><b>Personality:</b> Brash, abrasive, and secretly lonely. Natani pushes all but a few away emotionally.</p>
			<p>The younger of the Assassin Brothers. Natani was forced to live homeless with his brother, Zen, after their parents and tribe were destroyed by human Templars. Through desperation, he and Zen joined an assassins guild to make ends meet. Due to an accident during an assassination mission, Natani became magically and permanently linked to his brother's mind. They can now actively read each other's thoughts and emotions through their link, which allows them to communicate over long distances. This link, while a huge advantage in the field, is not without its disadvantages. They can never be separated, and it is unknown what will happen if one should die.</p>
			<p>Natani has never had a formal education and is thus illiterate. He cannot write in any language, and can only speak Keidran, though he can understand a handful of human words. Nevertheless, Natani will often find himself left in the dark during conversations between species.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="zen">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Zen2025.png" class="portrait" alt="Zen"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/ZenSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Zen</h3>
			<p>
				<b>Gender:</b> Male<br>
				<b>Age:</b> ~14 (35 equivalent)<br>
				<b>Class:</b> Assassin<br>
				<b>Species:</b> Wolf Keidran<br>
				<b>Languages:</b> Keidran, (Very Little) Human<br>
			</p>
			<p><b>Personality:</b> Light-hearted and optimistic, to a fault. Enjoys teasing his younger sibling relentlessly.</p>
			<p>The older of the Assassin Brothers. Zen is very protective of his sibling, the only family he has left after the attack left the both of them orphans. The brothers both joined the assassin's guild, and used their unique mental link to help them conquer otherwise impossible targets. Despite the Assassin Brother's skill and fierce reputation, almost all of the targets they're hired to kill end up dying through indirect means, often by accident or in ways not originally intended by the duo themselves. Somehow, their universal bad luck seems to rub off on others via proxy.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="sythe">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Sythe2025.png" class="portrait" alt="Sythe"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/SytheSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Sythe</h3>
			<p>
				<b>Gender:</b> Male<br>
				<b>Age:</b> ~11 (27 equivalent)<br>
				<b>Class:</b> Cowardly Diplomat<br>
				<b>Species:</b> Wolf Keidran<br>
				<b>Languages:</b> Keidran, Human<br>
			</p>
			<p><b>Personality:</b> Extremely pessimistic and easily frightened in high-stress environments.</p>
			<p>Sythe is a pony-tailed wolf most at home far away from battlefields and conflicts. Raised by his uncle, he was trained his entire life to be a diplomat between humans and keidran - even spending over a year living among humans back before the borders were closed. Sadly, his perfect human speech and years of education in interspecies cultures and politics have so far gone completely to waste since war began breaking out. Internally, Sythe has a very negative view of his own kind - believing that the war is mostly at the fault of the wolves for provoking the humans in the first place. Ultimately, he would like nothing more than for his life to go back to normal.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="mrsnibbly">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Nibbly2025.png" class="portrait" alt="Mrs Nibbly"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/MrsNibblySwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Mrs. Nibbly</h3>
			<p>
				<b>Gender:</b> Female<br>
				<b>Age:</b> ~6<br>
				<b>Class:</b> Squirrel<br>
				<b>Species:</b> Squirrel<br>
				<b>Languages:</b> Squirrel<br>
			</p>
			<p><b>Personality:</b> A curious little squirrel with no sense of self-preservation.</p>
			<p><i>"Life isn't like one of your novels, Dear." Her friends would scoff. "You go up to one of those monsters and you'll be eaten alive!" Or at least, that's what they would have said if squirrels could talk. However, Mrs. Nibbly knew one day she was destined to be more than an ordinary housewife. Her dreams at night were filled with images of adventure and romance among the giants. Now, after having lost her husband the winter prior, she decided it was finally time to live her dreams.</i></p>
			<p><i>Though terrified, she stood her ground as the two-legged beast approached, never allowing it to see her fear. And it was just as she had always imagined! He accepted her! Climbing atop the creature, Mrs. Nibbly knew her life was about to change. What sights would she see? She didn't know or care. All she knew was that she would be sharing it with him - her new, life-long friend and companion. And perhaps one day... more?</i></p>
			<p>This section penned by Raine.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="raine">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Raine2025.png" class="portrait" alt="Raine"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/RaineSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Raine</h3>
			<p>
				<b>Gender:</b> Female<br>
				<b>Age:</b> 18<br>
				<b>Class:</b> Shifter / Alchemist<br>
				<b>Species:</b> Human / Wolf Keidran<br>
				<b>Languages:</b> Human, Keidran<br>
			</p>
			<p><b>Personality:</b> In Human form, Raine is a shy and slightly naive young girl. However, due to lack of experience as a Keidran, Raine can sometimes lose herself to the wild nature of her other form.</p>
			<p>Raine is the daughter of the former Grand Templar. She was born under unusual and unnatural circumstances, and as a result possesses unpredictable magical power. The wild nature of her magic causes her to experience physical transformations between Keidran and Human forms. These transformations are usually kept in check by artifacts enchanted to suppress her magic. Throughout her life, Raine's mother has kept her Keidran form a secret from others in the Templar order, and even Raine herself. But as Raine matures, her bestial side becomes increasingly restless from years of suppression.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="laura">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Laura2025.png" class="portrait" alt="Laura"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/LauraSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Laura of the Costal Fox Tribe</h3>
			<p>
				<b>Gender:</b> Female<br>
				<b>Age:</b> ~16 (44 equivalent)<br>
				<b>Class:</b> Fiancée<br>
				<b>Species:</b> Fox Keidran<br>
				<b>Languages:</b> Keidran, Human<br>
			</p>
			<p><b>Personality:</b> Laura has very little self-confidence. She is timid, shy, and emotionally fragile. She tries to avoid conflict and always be polite.</p>
			<p>Laura's family found Keith washed ashore behind their house after he had been banished. Laura fell in love with Keith and they were to be married, however, events conspired against them and Keith ended up leaving and heading into human territory, where she couldn't follow. After several years, she decided to seek out Keith in the only way she knew how: by traveling to the islands of the Basitin.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="saria">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Saria.jpg" class="portrait" alt="Saria"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/SariaSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Saria au Gruhen</h3>
			<p>
				<b>Gender:</b> Female<br>
				<b>Age:</b> N/A<br>
				<b>Class:</b> Blacksmith / Freedom Fighter<br>
				<b>Species:</b> Human<br>
				<b>Languages:</b> Human, Keidran<br>
			</p>
			<p><b>Personality:</b> Saria is soft-spoken and usually shy, but not afraid to speak out when she needs to.</p>
			<p>Saria was a middle-class daughter of a blacksmith. She learned from an early age to take care of herself. She prefers to work for herself, and has never relied on the help of slaves. Her father brought her to the Templar Academy to work on building armor for the Templars. It was there where she met and fell in love with Trace. They were happily married for a year. However, their marriage was short-lived.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="eric">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Eric.jpg" class="portrait" alt="Eric"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/EricSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Eric Vaughan</h3>
			<p>
				<b>Gender:</b> Male<br>
				<b>Age:</b> 20<br>
				<b>Class:</b> Trader / Entrepreneur / Collector<br>
				<b>Species:</b> Human<br>
				<b>Languages:</b> Human, Keidran, Basitin<br>
			</p>
			<p><b>Personality:</b> Eric likes Keidran. That sums it up pretty nicely.</p>
			<p>Eric was born into a noble family. He is extremely wealthy, but he tries to stay modest about his money. Eric has a great affinity for Keidran, and uses his vast wealth to purchase a variety of Keidran slaves in cities all over the mainland. Eric is very well-read, but he specializes in Keidran anatomy and physiology. Eric treats all his slaves very well, and most are eternally devoted to him, despite being enslaved.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="kathrin">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Kathrin.jpg" class="portrait" alt="Kathrin"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/KathrinSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Kathrin "Spots" Vaughan</h3>
			<p>
				<b>Gender:</b> Female<br>
				<b>Age:</b> ~10 (24 equivalent)<br>
				<b>Class:</b> Tailor<br>
				<b>Species:</b> Mixed Breed Keidran<br>
				<b>Languages:</b> Human, Keidran<br>
			</p>
			<p><b>Personality:</b> Kathrin has a happy-go-lucky personality. She is a bit naive about most things, having been sheltered as a slave all her life.</p>
			<p>Kathrin was selectively bred from several generations of Keidran slaves in order to be more physically appealing to humans. Ironically, despite being designed to be a sex slave, Kathrin is incredibly naive when it comes to sex. Eric gives her much more freedom than his other slaves, but she genuinely enjoys serving him.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="mike">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Mike.jpg" class="portrait" alt="Mike"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/MikeSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Mike</h3>
			<p>
				<b>Gender:</b> Male / Female?<br>
				<b>Age:</b> ~12 (28 equivalent)<br>
				<b>Class:</b> Slave<br>
				<b>Species:</b> Fox Keidran<br>
				<b>Languages:</b> Human, Keidran<br>
			</p>
			<p><b>Personality:</b> He used to be perfectly satisfied with his lot in life, until the fateful day he came across a black-magic-wielding Basitin.</p>
			<p>Mike is one of several slaves working under Eric. His job is primarily to maintain Eric's ship. He is good friends with Evals, another slave on Eric's ship.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="evals">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Evals.jpg" class="portrait" alt="Evals"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/EvalsSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Evals</h3>
			<p>
				<b>Gender:</b> Male<br>
				<b>Age:</b> ~13 (30 equivalent)<br>
				<b>Class:</b> Slave<br>
				<b>Species:</b> Dog Keidran<br>
				<b>Languages:</b> Human, Keidran<br>
			</p>
			<p><b>Personality:</b> A typical Keidran slave.</p>
			<p>Evals is one of several slaves working under Eric. His job is primarily to maintain Eric's ship. He's good friends with Mike, another slave on Eric's ship. Though Evals is larger than Mike, Mike is usually the one who takes charge.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="maddie">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Maddie.png" class="portrait" alt="Madelyn Adelaide"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/MaddySwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Madelyn Adelaide</h3>
			<p>
				<b>Gender:</b> Female<br>
				<b>Age:</b> ???<br>
				<b>Class:</b> Spy<br>
				<b>Species:</b> Eastern Basitin<br>
				<b>Languages:</b> Human, Basitin, Keidran<br>
			</p>
			<p><b>Personality:</b> Hyper and fun-loving when not on the job. Illusive and stalkerish when necessary.</p>
			<p>The original Stalker Girl. Madelyn Adelaide is one of the best spies the Basitin have to offer. Using her small size and uncanny speed, she can typically slip through any trap or cage... as long as no one is looking. When caught, she is very good at manipulating the emotions of others to her advantage. Her child-like appearance makes her dangerous to those who underestimate her. However, unlike most Basitin, in a head-on fight she is almost entirely useless, having forgone all combat training for stealth.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="maren">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Maren.jpg" class="portrait" alt="Maren"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/MarenSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Maren Taverndatter</h3>
			<p>
				<b>Gender:</b> Female<br>
				<b>Age:</b> 20<br>
				<b>Class:</b> Tavern Maid<br>
				<b>Species:</b> Human<br>
				<b>Languages:</b> Human<br>
			</p>
			<p><b>Personality:</b> Maren is bossy and prefers to have things go her way.</p>
			<p>Maren is the bossy elder of the Taverndatter sisters. She's one of Trace's current "girlfriends," though Trace and her were never seriously involved. They met at her tavern as Trace was passing by during his missions. She knew Trace still loved his wife, who had passed away years before; and she knew she was really just being used by Trace as a momentary distraction. But she stayed with him, nonetheless.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="karen">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Karen.jpg" class="portrait" alt="Karen"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/KarenSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Karen Taverndatter</h3>
			<p>
				<b>Gender:</b> Female<br>
				<b>Age:</b> 16<br>
				<b>Class:</b> Tavern Assistant<br>
				<b>Species:</b> Human<br>
				<b>Languages:</b> Human<br>
			</p>
			<p><b>Personality:</b> Karen is outgoing and excited; she hates being bored and will go out of her way to make things interesting.</p>
			<p>Karen is the hyperactive younger of the Taverndatter sisters. She doesn't care about races or wars or religions. She just enjoys interesting stuff, and if nothing interesting is happening, she tends to cause it. Karen's extra set of Keidran ears were given to her as a curse by Trace, whom she was annoying. The curse backfired, however, when Karen decided she loved the ears and wanted to keep them.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="red">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/RedHairedGuy.jpg" class="portrait" alt="Red Haired Guy"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/RedHairedGuySwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>[Database Error]</h3>
			<p>
				<b>Gender:</b> Male<br>
				<b>Age:</b> 25<br>
				<b>Class:</b> Local Militia<br>
				<b>Species:</b> Human<br>
				<b>Languages:</b> Human<br>
			</p>
			<p><b>Personality:</b> [Database error] is a bit of a muscle-head. He tries his best to solve all his problems with his sword.</p>
			<p>[Database error] was one of Trace's friends from the Templar Academy. However, he dropped out after a few years when he showed little magical development. He later joined the local militia of his hometown.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="alaric">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Alaric.jpg" class="portrait" alt="Alaric"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/AlaricSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Nickolai Alaric</h3>
			<p>
				<b>Gender:</b> Male<br>
				<b>Age:</b> 19<br>
				<b>Class:</b> Master General<br>
				<b>Species:</b> Eastern Basitin<br>
				<b>Languages:</b> Human, Keidran, Basitin<br>
			</p>
			<p><b>Personality:</b> Alaric is unusual for a Basitin, openly expressing affection and bending rules and laws whenever possible.</p>
			<p>Alaric is the Master General of the Eastern Basitin military. He is one of the most powerful men in Basitin society, second only to the king himself. Though he still isn't able to break any laws or rules of society, he's studied them enough to skirt around them as much as possible. He is very fond of Keith, whom he was childhood friends with.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="nora">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/LadyNora.jpg" class="portrait" alt="Nora"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/LadyNoraSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Lady Nora</h3>
			<p>
				<b>Gender:</b> Female<br>
				<b>Age:</b> ~2000<br>
				<b>Class:</b> Shape-shifter<br>
				<b>Species:</b> White Dragon<br>
				<b>Languages:</b> All (telepathic)<br>
			</p>
			<p><b>Personality:</b> Nora enjoys meddling in the affairs of mortals.</p>
			<p>Lady Nora is a little over 20 centuries old, making her one of the oldest and largest dragons of her time. Unlike most dragons, who take little interest in mortals, she enjoys watching Humans, Keidran, and Basitin feud with one another. She will usually only interfere with them to see what might happen. Nora can shape-shift, but she has trouble balancing on two legs. Because of this, she generally only shapeshifts into other four-legged animals, and rarely shapeshifts into a humanoid form.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="reni">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Reni2025.png" class="portrait" alt="Reni"><br>
			<a href="https://www.deviantart.com/twokinds/art/Reni-Ref-Sheet-877690024"><img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/reniref_thumbnail.png" alt="Ref Sheet"></a>
		</div>
		<div class="char-info">
			<h3>Princess Reni</h3>
			<p>
				<b>Gender:</b> Female<br>
				<b>Age:</b> 20<br>
				<b>Class:</b> Princess<br>
				<b>Species:</b> Black Dragon<br>
				<b>Languages:</b> All (telepathic)<br>
			</p>
			<p><b>Personality:</b> Reni is a gentle and good-natured dragon who tries to do her best to use her power and authority to help anyone she can.</p>
			<p>Reni is a young dragon, only 20 years old, but considered an adult by dragon and human standards. Despite holding the title of "royal dragon" and being recognized as a princess among humans, she is not eligible for the throne due to her non-human heritage. However, she still possesses royal authority, allowing her influence in political matters.</p>
			<p>Though she lacks the magical prowess of an ancient dragon like Nora, Reni has innate dragon abilities, including telepathy and shapeshifting into a human form—a form she meticulously designed to blend in. Having grown up among humans, she considers herself part of their society and is deeply protective of them.</p>
			<p>Reni’s greatest flaw is her inexperience. Sheltered and eager to please, she tends to believe what she’s told and follow rather than lead, often deferring to others despite her royal status. Her naivety makes her vulnerable to manipulation, though her strong moral compass and loyalty to humanity drive her to become more independent and capable over time.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="adira">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Adira2025.png" class="portrait" alt="Adira"><br>
			<a href="https://www.deviantart.com/twokinds/art/Adira-Reference-Sheet-803158843"><img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/adiramaeveref_thumbnail.png" alt="Ref Sheet"></a>
		</div>
		<div class="char-info">
			<h3>Adira of the Riftwall</h3>
			<p>
				<b>Gender:</b> Female<br>
				<b>Age:</b> 14 (36 equivalent)<br>
				<b>Class:</b> Tavern Owner<br>
				<b>Species:</b> Snow Leopard Keidran<br>
				<b>Languages:</b> Human, Keidran<br>
			</p>
			<p><b>Personality:</b> Adira is a pragmatic businesswoman who tries to remain optomistic while living among humans.</p>
			<p>Adira is a resident of the human city of Edinmire. However, despite this, Adira is not a slave, but instead one of the small percentage of Keidran who exist as legal citizens within the empire. Her family has owned and run the Riftwall tavern for generations, dating back before the land became human territory. The family has been allowed to continue operating, essentially grandfathered in.</p>
			<p>Snow leopard Keidran are a scattered people, with no known centralized kingdom. It is assumed that the species is dying out, making Adira a rare sight. Adira has a powerful desire to reunite with the rest of her kin and continue her bloodline. She has one daughter, Maeve.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail" id="maeve">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Maeve2025.png" class="portrait" alt="Maeve"><br>
			<a href="https://www.deviantart.com/twokinds/art/Adira-Reference-Sheet-803158843"><img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/adiramaeveref_thumbnail.png" alt="Ref Sheet"></a>
		</div>
		<div class="char-info">
			<h3>Maeve of the Riftwall</h3>
			<p>
				<b>Gender:</b> Female<br>
				<b>Age:</b> 6 (13 equivalent)<br>
				<b>Class:</b> Smol Kitty<br>
				<b>Species:</b> Snow Leopard Keidran<br>
				<b>Languages:</b> Human, Keidran<br>
			</p>
			<p><b>Personality:</b> Maeve is Maeve.</p>
			<p>Maeve is the daughter of Adira.</p>
		</div>
		<div class="clear"></div>
	</section>
</section>

<section>
	<header>
		<h2 class="page-header">Villains</h2>
	</header>

	<section class="char-detail" id="mask">
		<div class="center" style="margin-bottom: 10px;">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/mask.png" alt="Villains">
		</div>
		<div class="char-info" style="width: 800px;">
			<h3>The Masks</h3>
			<p>
				<b>Class:</b>Corrupted Planetary Guardians<br>
				<b>Species:</b> Mask<br>
			</p>
			<p>The Masks Blah Blah Blah</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail">
		<div class="center" style="margin-bottom: 10px;">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/Villians.jpg" alt="Villains" style="width: 500px;">
		</div>
		<div class="char-info" style="width: 800px;">
			<h3>The Master Templars: Master Spy, Architect, Strategist, Seer, and Mage.</h3>
			<p>
				<b>Class:</b> Master Templars<br>
				<b>Species:</b> Human<br>
			</p>
			<p>These five men were employed by Grand Templar Trace to keep order in the Templar after he took over. He had them replace the previous six Master Templars of the previous Grand Templar. After Trace's disappearance, the Master Templar continued to keep the Order under control until his return. Some are seeking Trace so he may return, while others plot to kill Trace and usurp his power. Still others scheme to keep him away and preoccupied, so he might not return at all.</p>
		</div>
		<div class="clear"></div>
	</section>

	<section class="char-detail">
		<div class="char-img">
			<img src="https://cdn.twokinds.keenspot.com/img/characters/EvilTrace.jpg" class="portrait" alt="Evil Trace"><br>
			<img class="char-swatch" src="https://cdn.twokinds.keenspot.com/img/characters/swatches/TraceSwatch.gif" alt="Color Swatch">
		</div>
		<div class="char-info">
			<h3>Trace Legacy</h3>
			<p>
				<b>Gender:</b> Male<br>
				<b>Age:</b> 24<br>
				<b>Class:</b> Grand Templar<br>
				<b>Species:</b> Human<br>
				<b>Languages:</b> Human, Keidran, Basitin<br>
			</p>
			<p><b>Personality:</b> Trace is a heartless killer, who wants nothing less than the death of all peoples. He doesn't care for any life.</p>
			<p>Trace was born into a pathetic family of farmers, but his obvious natural talents in magic were quickly recognized and at a young age he was recruited into the Templar. He rose through the ranks and inevitably took over the organization as Grand Templar following the death of his first wife. He quickly became known as a great ruler, feared by Humans and Keidran alike. His incredible power allowed him to dominate all those who opposed him.</p>
			<p>However, his memories were stolen from him by Ephemural. Now, he must regain his memories and regain his position of power, before he become too deeply involved in the lives of the pathetic Keidran he is traveling with.</p>
		</div>
		<div class="clear"></div>
	</section>
</section>

</article>
</main>
</div>
<script type='text/javascript' src='//www.keenspot.com/ks_header.js'></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/bsky-embed/dist/bsky-embed.es.js" async></script>
<div class="bottom" id="lcontent">
	<div class="bottom-left">
		<div class="tinyheader">Keenspot</div>
		<div class="ks-container jsdep">
			<div class="keenspot">
				<script src="//www.keenspot.com/ks_newsbox.js" type="text/javascript"></script>
			</div>
		</div>
	</div>
	<div class="bottom-ctr">
		<div class="tinyheader">
			Latest Posts
		</div>
		<div class="twitter-box jsdep">
			<bsky-embed
				username="twokinds.bsky.social"
				limit="5"
				link-target="_blank"
				custom-styles="article.p-4 { padding-left: 0; } .w-14 { width: 2.5rem; } .h-14 { height: 2.5rem; }"
			>
			</bsky-embed>
		</div>
	</div>
	<div class="bottom-right">
		<div class="av2">
			<div class="tinyheader">
				Advertisement
			</div>
			<div class="av2-child">
				<div class="advertisement">
					<!-- Twokinds.keenspot - 300x250 Static (618556d8935f492ab9f0a9bd) - 300x250 - Place in <BODY> of page where ad should appear -->
					<div class="vm-placement" data-id="618556d8935f492ab9f0a9bd"></div>
					<!-- / Twokinds.keenspot - 300x250 Static (618556d8935f492ab9f0a9bd) -->
					<script type='text/javascript'>
						<!--
						var arect=new Image();
						arect.src="//forums.keenspot.com/wonline.php?&type=m_rect&out=twokinds";
						-->
					</script>
					<noscript>
						<img src="//forums.keenspot.com/wonline.php?&type=m_rect&out=drop_twokinds" style="width:1px;height:1px;border:0px;" alt='' />
					</noscript>
				</div>
				<div class="donate-box">
					<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KRAZFXNKXUWFU" target="_blank">
						<img src="https://cdn.twokinds.keenspot.com/img/blocked_ads.png" alt="Donate" />
					</a>
				</div>
			</div>
		</div>
		<div class="tinyheader">Recommended comics</div>
		<div class="rec-comic">
			<a class="rec-comic-btn" href="https://www.yoshsaga.com/">
				<img src="https://cdn.twokinds.keenspot.com/img/altcomic/small/yosh.png" alt="Yosh!" />
			</a>
			<a class="rec-comic-btn" href="https://laslindas.kemono.cafe/">
				<img src="https://cdn.twokinds.keenspot.com/img/altcomic/small/lindas.png" alt="Las Lindas!" />
			</a>
			<a class="rec-comic-btn" href="https://www.draconiachronicles.com/">
				<img src="https://cdn.twokinds.keenspot.com/img/altcomic/small/draconia.png" alt="Draconia!" />
			</a>
			<a class="rec-comic-btn" href="https://paprika.kemono.cafe/">
				<img src="https://cdn.twokinds.keenspot.com/img/altcomic/small/paprika.png" alt="Paprika!" />
			</a>
			<a class="rec-comic-btn" href="https://rascals.kemono.cafe/">
				<img src="https://cdn.twokinds.keenspot.com/img/altcomic/small/rascals.png" alt="Rascals!" />
			</a>
			<a class="rec-comic-btn" href="https://uberquest.studiokhimera.com/">
				<img src="https://cdn.twokinds.keenspot.com/img/altcomic/small/uberquest.png" alt="Uberquest!" />
			</a>
			<a class="rec-comic-btn" href="https://www.artificialincident.com/">
				<img src="https://cdn.twokinds.keenspot.com/img/altcomic/small/artificialincident.png" alt="Artificial Incident!" />
			</a>
			<a class="rec-comic-btn" href="https://bloodlinecomic.com/">
				<img src="https://cdn.twokinds.keenspot.com/img/altcomic/small/bloodline.png" alt="Bloodline!" />
			</a>
			<a class="rec-comic-btn" href="https://www.sdamned.com/">
				<img src="https://cdn.twokinds.keenspot.com/img/altcomic/small/sd.gif" alt="Slightly Damned!" />
			</a>
		</div>
	</div>
</div>
<footer>
TWOKINDS, its logo, and all related characters are copyright &copy;2003-2025 Thomas Fischbach.
All rights reserved.
Website design by Thomas Fischbach &amp; Brandon Dusseau.
</footer>
<div class="footer-img"></div>
</div>
<!-- Keenspot - Rich media (5cc712bf46e0fb0001212576) - 1x1 - Place in <BODY> of page where ad should appear -->
<div class="vm-placement" data-id="5cc712bf46e0fb0001212576" style="display:none"></div>
<!-- / Keenspot - Rich media (5cc712bf46e0fb0001212576) -->
</body>
</html>

