<IfModule mod_rewrite.c>
    RewriteEngine On

    # Leite Anfragen an existierende Dateien oder Ordner NICHT um
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Alles andere geht an unseren Front-Controller
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Sicherheit: Verhindere das Auflisten von Verzeichnissen
Options -Indexes
