@charset "UTF-8";
/* SCSS-Datei für den dunklen Modus des Cookie-Banners */
body.theme-night #cookieConsentBanner {
  background-color: #00334c;
  color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
body.theme-night #cookieConsentBanner h3 {
  color: #fff;
}
body.theme-night #cookieConsentBanner .cookie-category {
  background-color: #00425c;
}
body.theme-night #cookieConsentBanner .description {
  color: #ccc;
}
body.theme-night #cookieConsentBanner #acceptAllCookies {
  background-color: #2a6177;
  color: #fff;
}
body.theme-night #cookieConsentBanner #acceptAllCookies:hover {
  background-color: #48778a;
}
body.theme-night #cookieConsentBanner #rejectAllCookies {
  background-color: #002b3c;
  color: #fff;
}
body.theme-night #cookieConsentBanner #rejectAllCookies:hover {
  background-color: #00425c;
}
body.theme-night #cookieConsentBanner #saveCookiePreferences {
  background-color: #002b3c;
  color: #fff;
}
body.theme-night #cookieConsentBanner #saveCookiePreferences:hover {
  background-color: #00425c;
}
body.theme-night .collapsible-content {
  border-left-color: #2a6177;
}
body.theme-night .toggle-details {
  color: #81dbfe;
}
body.theme-night .toggle-details:hover {
  color: #a0eaff;
}
