/**
 * Main Layout Grid & Containers
 *
 * @file      scss/layout/_grid.scss
 * @package   twokinds.4lima.de
 * @version   4.2.0
 * @since     4.2.0 Umstellung auf CSS Vars.
 */

@use '../abstracts/variables' as *;

article {
    width: 825px;
    margin: auto;
}

.main-container {
    width: 1079px;
    margin: auto;
    background-color: var(--content-area-bg);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
    overflow: visible;

    body.theme-night & {
        box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.2);
    }
}

.content-area {
    display: flex;
    flex-flow: nowrap;
    align-items: stretch;
    position: relative;
    z-index: 100;
    margin-top: -15px;
    padding-top: 11px;
    height: 100%;
    margin-bottom: 15px;
}

.content {
    flex: 1 1 auto;
    position: relative;
    z-index: 102;
    display: inline-block;
    padding: 10px 15px;
    padding-top: 11px;
    margin-right: 11px;
    overflow: visible;
    border: 1px solid var(--border-medium);
    border-radius: 0 0 5px 5px;
    background-color: var(--content-bg);
    color: var(--text-color);

    body.theme-night & {
        border-color: var(--page-bg);
    }

    li {
        margin-bottom: 5px;
        list-style-position: inside;
        margin-left: 30px;
        margin-right: 30px;
    }

    ul {
        margin-bottom: 10px;
    }

    table {
        border: 1px solid var(--border-black);
        border-collapse: collapse;
        margin-bottom: 10px;

        body.theme-night & {
            border-color: var(--page-bg);
        }
    }

    th {
        background-color: var(--header-bg);

        body.theme-night & {
            background-color: var(
                --button-hover-bg
            ); // Accent light im Dark Mode
        }
    }

    th,
    td {
        padding: 2px 7px;
        border: 1px solid var(--border-black);
        color: var(--text-color);

        body.theme-night & {
            border-color: var(--page-bg);
        }
    }
}

.content-bottom {
    width: 1079px;
    height: 4px;
    margin-bottom: 15px;
}
