body.theme-night #banner,
#banner-lights-off {
  background-image: url("https://twokinds.4lima.de/assets/images/layout/banner.webp?c=20251024");
}

.banner-lights-off {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
}

body.theme-night {
  background-color: #002B3C;
  color: #fff;
}
body.theme-night hr {
  border-color: #2a6177;
}
body.theme-night .main-container {
  background-color: #00425c;
}
body.theme-night .main-container button,
body.theme-night .main-container a.button {
  background-color: #2a6177;
  color: #fff;
}
body.theme-night .main-container .arrow-down,
body.theme-night .main-container .arrow-left {
  background-image: url("https://twokinds.4lima.de/assets/images/layout/ui/dropdown_dark.svg?c=20251024");
}
body.theme-night .maintbanner a,
body.theme-night .maintbanner a:link,
body.theme-night .maintbanner a:visited,
body.theme-night .maintbanner a:active {
  color: #000;
}
body.theme-night .sidebar .sidebar-content {
  background-color: #00334C;
}
body.theme-night .sidebar .sidebar-content .menu a {
  background-color: #2a6177;
  color: #fff;
}
body.theme-night .sidebar .sidebar-content .menu a.theme span.themelabel {
  background-color: #628492;
  color: #fff;
}
body.theme-night .sidebar .sidebar-content .menu a:hover {
  background-color: #48778a;
}
body.theme-night .sidebar .sidebar-content .menu a.menu-new:after {
  background-color: #628492;
  color: #fff;
}
body.theme-night a {
  color: #08c;
}
body.theme-night a:visited {
  color: #08c;
}
body.theme-night .content {
  border-color: #002B3C;
}
body.theme-night .content table {
  border-color: #002B3C;
}
body.theme-night .content th {
  background-color: #48778a;
}
body.theme-night .content td,
body.theme-night .content th {
  border-color: #002B3C;
}
body.theme-night .content h1.page-header,
body.theme-night .content h2.page-header,
body.theme-night .content h3.page-header,
body.theme-night .content h4.page-header,
body.theme-night .content h5.page-header,
body.theme-night .content h6.page-header {
  background-color: #002B3C;
}
body.theme-night {
  /* COMIC SECTION */
}
body.theme-night .comic .transcript .transcript-content {
  background-color: #00334C;
  border-color: #002B3C;
}
body.theme-night .comic .comicnav {
  color: #fff;
  background-color: #00334C;
}
body.theme-night .comic .comicnav a,
body.theme-night .comic .comicnav button {
  color: #fff;
}
body.theme-night .comic .comicnav a.visited {
  color: #fff;
}
body.theme-night .comic .comicnav .navarrow:not(.disabled):hover {
  background-color: #00425c;
}
body.theme-night .comic .comicnav .navarchive {
  background-color: #2a6177;
}
body.theme-night .comic .comicnav .navarchive:hover {
  background-color: #48778a;
}
body.theme-night .comic .comicnav .navbegin .nav-wrapper {
  background-image: url("https://twokinds.4lima.de/assets/images/layout/navigation/comic-nav-begin-dark.png?c=20250916");
}
body.theme-night .comic .comicnav .navprev .nav-wrapper {
  background-image: url("https://twokinds.4lima.de/assets/images/layout/navigation/comic-nav-arrow-left-dark.png?c=20250916");
}
body.theme-night .comic .comicnav .navnext .nav-wrapper {
  background-image: url("https://twokinds.4lima.de/assets/images/layout/navigation/comic-nav-arrow-right-dark.png?c=20250916");
}
body.theme-night .comic .comicnav .navend .nav-wrapper {
  background-image: url("https://twokinds.4lima.de/assets/images/layout/navigation/comic-nav-end-dark.png?c=20250916");
}
body.theme-night .comic .comicnav.bottomnav .nav-lang-toggle .nav-wrapper {
  background-image: url("https://twokinds.4lima.de/assets/images/layout/navigation/comic-nav-de-en-dark.png?c=20250916");
}
body.theme-night .bottom {
  border-color: #002B3C;
}
body.theme-night {
  /* ARCHIVE */
}
body.theme-night .chapter h2 {
  color: #fff;
}
body.theme-night .chapter .chapter-links a {
  background-color: #2a6177;
  color: #fff;
}
body.theme-night .chapter .chapter-links a:visited {
  color: #fff;
}
body.theme-night {
  /* CHAT PAGE */
}
body.theme-night div.page-chat .chat-button a {
  background-color: #2a6177;
  color: #fff;
}
body.theme-night div.page-chat .chat-button a:hover {
  background-color: #48778a;
}
body.theme-night {
  /* FANART */
}
body.theme-night .fanart-list .fanart-item {
  border-color: #002B3C;
}
body.theme-night .fanart-list .fanart-item .thumbnail a {
  background-color: #2a6177;
  color: #fff;
}
body.theme-night {
  /* POPUP DIALOG */
}
body.theme-night .dialog {
  background-color: #00425c;
}
body.theme-night .dialog a {
  color: #fff;
}
body.theme-night .dialog .dialog-title {
  background-color: #00334C;
}
body.theme-night .dialog .dialog-x {
  color: #fff;
  background-color: #2a6177;
}
body.theme-night .dialog input.embed {
  color: #fff;
  border: 1px solid #002B3C;
  background-color: #48778a;
}
