/**
 * Typography Basics
 *
 * @file      scss/base/_typography.scss
 * @package   twokinds.4lima.de
 * @version   4.2.0
 * @since     4.2.0 Einf端hrung von CSS Vars f端r Farben.
 */

@use '../abstracts/variables' as *;

body {
    background-color: var(--page-bg);
    color: var(--text-color);
    font-family: $font-stack;
    font-size: 15px;
    min-width: 1099px;

    // Transition f端r Theme-Wechsel
    &.transitioning:not(.preload),
    &.transitioning:not(.preload) * {
        transition:
            background-color 0.25s,
            border-color 0.25s,
            background-image 0.25s,
            color 0.25s;
    }
}

.mono {
    font-family: $font-mono;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h3 {
    margin-bottom: 0.7rem;
}

p {
    margin-bottom: 10px;
}

// Page Headers
h1.page-header,
h2.page-header,
h3.page-header,
h4.page-header,
h5.page-header,
h6.page-header {
    background-color: var(--header-bg);
    padding: 2px 10px;
    margin-bottom: 10px;
    font-size: 22.5px;
    color: var(--text-color);
    border-bottom: 1px solid transparent; // Placeholder f端r Dark Mode Border

    body.theme-night & {
        border-bottom-color: var(--button-bg);
    }
}

a {
    color: var(--link-color);
    text-decoration: none; // Default reset, optional

    &:visited {
        color: var(--link-visited);
    }

    &:hover {
        text-decoration: underline;
    }
}

hr {
    border: none;
    border-top: 1px solid;
    border-color: var(--header-bg); // Default Light
    margin-block: 1rem;

    body.theme-night & {
        border-color: var(--button-bg);
    }
}

.instructions {
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    color: var(--text-color-light);
}

.smalltext {
    font-size: 12px;
}

.tinytext {
    margin-bottom: 5px;
    font-size: 9px;
}

.tinyheader {
    font-size: 10px;
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
}
