///
/// Archiv-Übersicht.
///
/// Styling für die Kapitel-Liste, inkl. Akkordeon-Funktion und Links.
/// Styles für die Comic-Archiv Übersicht (Text & Layout).
///

/*!
 * @file       resources/scss/pages/_archive.scss
 */

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.chapter {
    margin-bottom: 15px;
    font-size: 1rem;

    p {
        margin: 0.8rem 1.5rem;
        font-style: italic;
        color: var(--text-color-light);

        a {
            font-weight: 700;
            color: var(--text-on-medium);
        }
    }
}

body.theme-night .chapter p a {
    color: var(--link-color);
}

.chapter h2 {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1.2em;
    color: var(--text-on-medium);
    cursor: pointer;
    border-bottom: 1px solid transparent;

    @include respond-to-mobile {
        font-size: 1.4em;
    }
}

.chapter h2:hover {
    color: var(--link-color);
    text-decoration: none;
    border-bottom-color: var(--link-color);
}

body.theme-night .chapter h2 {
    color: var(--text-color);
}

body.theme-night .chapter h2:hover {
    color: var(--link-color);
}

.chapter h2::before {
    display: inline-block;
    flex-shrink: 0;
    margin-right: 10px;
    content: '►';
}

.chapter.collapsed h2::before {
    transform: rotate(0deg);
}

.chapter h2 .arrow-left {
    flex-shrink: 0;
    margin-left: auto;
}

.chapter.collapsed .chapter-links {
    display: none;
}
