/**
 * Sass Functions
 *
 * @file      scss/abstracts/_functions.scss
 * @package   twokinds.4lima.de
 * @version   4.2.0
 * @since     4.2.0 Initiale Erstellung (Platzhalter für zukünftige Erweiterungen).
 */

// Hier können eigene Berechnungsfunktionen abgelegt werden.
