/**
 * Sass Placeholders
 *
 * @file      scss/abstracts/_placeholders.scss
 * @package   twokinds.4lima.de
 * @version   4.2.0
 * @since     4.2.0 Initiale Erstellung (Platzhalter für zukünftige Erweiterungen).
 */

// Beispiel:
// %hidden { display: none; }
