///
/// Header & Banner
///
/// Styling für den Hauptbanner, Wartungsnachrichten, Preloader-Logik und Banner-Logik.
///

/*!
 * @file      resources/scss/layout/_header.scss
 */

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.l-header {
    &__banner {
        position: relative;
        z-index: 99;
        width: 100%;
        max-width: 1099px;
        height: 314px;
        padding-top: 10px;
        margin-left: -10px;
        overflow: hidden;
        text-indent: 105%;
        white-space: nowrap;
        background: transparent
            url('../images/theme/banners/day.webp?c=20260804') center 10px
            no-repeat;
        background-size: cover;

        @include respond-to-mobile {
            height: 120px;
            margin-left: 0;
            background-position: center;
        }

        @at-root body.theme-night & {
            background-image: url('../images/theme/banners/night.webp?c=20260804');
        }
    }
}

// Fallback falls dies von JS genutzt wird
.banner-lights-off {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

body.theme-night #banner-lights-off {
    background-image: url('../images/theme/banners/night.webp?c=20260804');
}
