///
/// Header & Banner
///
/// Styling für den Hauptbanner, Wartungsnachrichten, Preloader-Logik und Banner-Logik.
///

/*!
 * @file      resources/scss/layout/_header.scss
 */

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.l-header {
    &__mobile-bar {
        display: none;
        justify-content: space-between; // Timer Links, Logo Mitte, Menü Rechts
        align-items: center;
        padding: 10px 15px;
        color: var(--text-color);
        background: var(--header-bg);
        box-shadow: 0 2px 5px rgb(0 0 0 / 0.1);

        @include respond-to-mobile {
            display: flex;
        }

        button {
            font-size: 1.5em;
            color: var(--text-color);
            cursor: pointer;
            background: transparent;
            border: none;
            width: 60px;
            text-align: right;
        }

        .mobile-logo {
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            flex: 1;
        }

        .session-timer-mobile {
            width: 60px;
            text-align: left;
        }
    }

    &__banner {
        position: relative;
        z-index: 99;
        width: 100%;
        max-width: 1099px;
        height: auto;
        aspect-ratio: 1099 / 314;
        padding-top: 10px;
        margin-left: -10px;
        overflow: hidden;
        text-indent: 105%;
        white-space: nowrap;
        background: transparent
            url('../images/theme/banners/day.webp?c=20260804') center top
            no-repeat;
        background-size: cover;

        @include respond-to-mobile {
            margin-left: 0;
        }

        @at-root body.theme-night & {
            background-image: url('../images/theme/banners/night.webp?c=20260804');
        }
    }
}

.banner-lights-off {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

body.theme-night #banner-lights-off {
    background-image: url('../images/theme/banners/night.webp?c=20260804');
}
